<div class="container">
    <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cantidad de activos registrados</h5>
            <h2 *ngIf="activos" class="card-text">{{activos.length}}</h2>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Ultimo activo registado</p>
            <h2>Switch</h2>
            <p>Registrado el: 17/07/2020</p>
        
          </blockquote>
        </div>
        <div class="card bg-danger text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Ultimo activo dado de baja</p>
            <h2>Portatil</h2>
            <p>Dado de baja el: 17/07/2020</p>
            
          </blockquote>
        </div>
        <div class="card bg-warning text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>El activo</p>
            <h2>Multimetro</h2>
            <p>Está muy deteriorado</p>
            
          </blockquote>
        </div>
      </div>