<div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editarActivo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div *ngIf="refActivo" class="modal-content" style="box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);">

          <!--header-->
        <div class="modal-header">
          <h5 class="modal-title" id="editarActivo">Editar activo {{refActivo.nombre}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!------form------->
        <div class="modal-body">
          <form [formGroup]="modActivoForm" (ngSubmit)="submitActivoForm()">
            <div class="form-group">
              <label for="idActivo">Id</label>
              <input type="text" formControlName="ID" class="form-control" placeholder={{refActivo.ID}} required>
            </div>
            <div class="form-group">
              <label for="nombreActivo">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" placeholder={{refActivo.nombre}} required>
            </div>
            <div class="form-group">
              <label for="cantActivo">Cantidad</label>
              <input type="text" formControlName="cantidad" class="form-control"  placeholder={{refActivo.cantidad}} required>
            </div>
            <div class="modal-footer">
              
              <button type="submit" class="btn btn-success mx-auto" data-toggle="modal" data-target="#vacioModal2">Añadir</button>              
            </div>
          </form>
          
        </div>
        <!------fin form--->
      </div>
      
    </div>


    
  </div>

