<div class="container">
    <div *ngFor="let usuario of usuarios">
        <div *ngIf="selID==usuario.id">

    <div>
    <h2 class="mb-3">{{usuario.nombres}} {{usuario.apellidos}}</h2>
   </div>
   
   <div>
       <p>Correo: {{usuario.email}}</p>
       <p>nombre de usuario: {{usuario.username}}</p>
       <p *ngIf="usuario.admin">Este usuario es administrador</p>
       <button *ngIf="!(usuario.id == usuarioService.usuarioIngresado.id)" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirmModal">Eliminar usuario</button>

   </div>
           <!--Modal de confirmación-->
           <div class="modal fade" id="confirmModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">Confirmar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Desea eliminar este usuario?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button  [routerLink]="['/activos']" onclick="$('.modal').modal('hide')" (click)="eliminarUsuario(usuario.id)" class="btn btn-danger"> Eliminar usuario </button>
                </div>
              </div>
            </div>
          </div>
</div>



</div>
</div>