    <!------------------------------------BARRA SUPERIOR--------------------------------------->
    <nav class="topnav">
        <a href=# class="active">Dashboard</a>
        <a href=#>Pagina 2</a>
        <a href=#>Pagina 3</a>
        <div class="topnav-right">
            <a href=#>Buscar</a>
            <a href=#>
                <p class="username">Jhon Noriega</p>
                <img src="assets/images/img_avatar.png" alt="profpic" class="avatar">
            </a>
        </div>
    </nav>
    <!------------------------------------BARRA INFERIOR--------------------------------------->
    <nav class="bottomnav">
        <a href="#" class="active"><i class="fa fa-home"></i><p>Dashboard</p></a>
        <a href="#"><i class="fa fa-home"></i><p>Pagina 2</p></a>
        <a href="#"><i class="fa fa-home"></i><p>pagina 3</p></a>
        <a href="#"><i class="fa fa-home"></i><p>Buscar</p></a>
        <a></a> <!-- <---------------------------IGNORAR ESTE a--------------------------->
    </nav>
