<nav>
    <!------------------------------------BARRA SUPERIOR--------------------------------------->
    <nav class="topnav">
        <h4 class="logo font-weight-bold">ISFIL</h4>
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        <a [routerLink]="['/activos']" routerLinkActive="active">Activos</a>
        <a *ngIf="usuarioService.estaLogueado" [routerLink]="['/historial']" routerLinkActive="active">Historial</a>
        <a *ngIf="usuarioService.estaLogueado && usuarioService.usuarioIngresado.admin" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a>
        <div class="topnav-right">
            <a *ngIf="usuarioService.estaLogueado" type="button" class="top-add" data-toggle="modal" data-target="#addFormModal" >Agregar Activo</a>
            
            <a (click)="cerrarSesion()"  *ngIf="usuarioService.estaLogueado" >
                <p class="username">{{usuarioService.usuarioIngresado.nombres   }} {{usuarioService.usuarioIngresado.apellidos}}</p>
                <img *ngIf="usuarioService.estaLogueado" src="assets/images/img_avatar.png" alt="profpic" class="avatar">
            </a>

            <a *ngIf="!usuarioService.estaLogueado" [routerLink]="['/signin']">
                <p class="username">Ingresar</p>
            </a>
        </div>
    </nav>
    <!------------------------------------BARRA INFERIOR--------------------------------------->
    <nav class="bottomnav">
        <a [routerLink]="['/dashboard']" routerLinkActive="active"><i class="fa fa-line-chart"></i><p>Dashboard</p></a>
        <a [routerLink]="['/activos']" routerLinkActive="active"><i class="fa fa-list"></i><p>Activos</p></a>
        <a *ngIf="usuarioService.estaLogueado" [routerLink]="['/historial']" routerLinkActive="active"><i class="fa fa-history"></i><p>Historial</p></a>
        <a *ngIf="usuarioService.estaLogueado && usuarioService.usuarioIngresado.admin" [routerLink]="['/usuarios']" routerLinkActive="active"><i class="fa fa-users"></i><p>Usuarios</p></a>
        <button *ngIf="usuarioService.estaLogueado" type="button" class="fab-add" data-toggle="modal" data-target="#addFormModal" >+</button>
        <a></a> <!-- <---------------------------IGNORAR ESTE a--------------------------->
    </nav>


      <app-form-registrar-activo></app-form-registrar-activo>


</nav>
