<nav>
    <!------------------------------------BARRA SUPERIOR--------------------------------------->
    <nav class="topnav">
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        <a [routerLink]="['/activos']" routerLinkActive="active">Activos</a>
        <a [routerLink]="['/historial']" routerLinkActive="active">Historial</a>
        <div class="topnav-right">
            <a type="button" class="top-add" data-toggle="modal" data-target="#addFormModal" >+ agregar</a>

            <a href=#>
                <p class="username">Usuario</p>
                <img src="assets/images/img_avatar.png" alt="profpic" class="avatar">
            </a>
        </div>
    </nav>
    <!------------------------------------BARRA INFERIOR--------------------------------------->
    <nav class="bottomnav">
        <a [routerLink]="['/dashboard']" routerLinkActive="active"><i class="fa fa-line-chart"></i><p>Dashboard</p></a>
        <a [routerLink]="['/activos']" routerLinkActive="active"><i class="fa fa-list"></i><p>Activos</p></a>
        <a [routerLink]="['/historial']" routerLinkActive="active"><i class="fa fa-history"></i><p>Historial</p></a>
        <button type="button" class="fab-add" data-toggle="modal" data-target="#addFormModal" >+</button>
        <a></a> <!-- <---------------------------IGNORAR ESTE a--------------------------->
    </nav>


      <app-form-registrar-activo></app-form-registrar-activo>


</nav>
