<div class="container">
    
    <h2 class="font-weight-bold">Registrar</h2>
    <div class="form-group">
        <label>Correo electronico</label>
        <input type="email" class="form-control" placeholder="Correo electronico" #userEmail required>
    </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" #userPassword required>
      </div>
      <input type="button" class="btn btn-primary" value="Ingresar" (click)="authService.SignUp(userEmail.value, userPassword.value)">
</div>