<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="registrarActivo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarActivo">Registrar activo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">sdapsd</div>
    </div>
  </div>
</div>
