<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="registrarActivo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarActivo">Registrar activo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!------------------------------------CONTENIDO DEL MODAL--------------------------------------->
      <div class="modal-body">
        <!------------------------------------NOMBRE DEL ACTIVO--------------------------------------->
        <h5 class="modal-tittle">
          Nombre del activo
        </h5>
        <input mdbInput type="text" id="form1" class="form-control form-control-sm">
        <!------------------------------------NOMBRE DEL ACTIVO--------------------------------------->
        <!------------------------------------DESC DEL ACTIVO--------------------------------------->
        <h5 class="modal-tittle">
          Descripción del activo
        </h5>
        <textarea class="form-control" aria-label="With textarea"></textarea>
        <!------------------------------------DESC DEL ACTIVO--------------------------------------->
        <h5 class="modal-tittle">
         ¿A cual o cuales laboratorios pertenece?
        </h5>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <!------------------------------------CONTENIDO DEL MODAL--------------------------------------->
      <!------------------------------------FOOTER DEL MODAL--------------------------------------->
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Añadir al inventario!</button>
      </div>
      <!------------------------------------FOOTER DEL MODAL--------------------------------------->
    </div>
  </div>
</div>
