<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="registrarActivo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrarActivo">Registrar activo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!------------------------------------CONTENIDO DEL MODAL--------------------------------------->
        <div class="modal-body">
          <!------------------------------------NOMBRE DEL ACTIVO--------------------------------------->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Nombre del activo</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <!------------------------------------NOMBRE DEL ACTIVO--------------------------------------->
          <!------------------------------------DESC DEL ACTIVO--------------------------------------->
          <!------------------------------------SPACER--------------------------------------->
          <p class="p-1"></p>
          <!------------------------------------SPACER--------------------------------------->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción del activo</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <!------------------------------------DESC DEL ACTIVO--------------------------------------->
          <!------------------------------------SPACER--------------------------------------->
          <p class="p-1"></p>
          <!------------------------------------SPACER--------------------------------------->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Laboratorios del activo</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
        </div>
        <!------------------------------------CONTENIDO DEL MODAL--------------------------------------->
        <!------------------------------------FOOTER DEL MODAL--------------------------------------->
        <div class="modal-footer">
          <button type="button" class="btn btn-success mx-auto">Añadir al inventario!</button>
        </div>
        <!------------------------------------FOOTER DEL MODAL--------------------------------------->
      </div>
    </div>
  </div>
  