.mobile-view{
    display: none;
}

/*-----------------------BREAKPOINT--------------------------*/
@media screen and (max-width: 600px){
    .desktop-view{
        display: none;
    }

    .mobile-view{
        display: block;
    }
}