<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="registrarActivo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);"
      class="modal-content">

          <!--header-->
        <div class="modal-header">
          <h5 class="modal-title" id="registrarActivo">Registrar activo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!------form------->
        <div class="modal-body">

          <form [formGroup]="activoForm" (ngSubmit)="submitActivoForm()" novalidate>
            <div class="form-group">
              <label for="idActivo">Id</label>
              <input type="text" formControlName="ID" class="form-control" placeholder="ID" required>
            </div>
            <div class="form-group">
              <label for="nombreActivo">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre del activo" required>
            </div>
            <div class="form-group">
              <label for="cantActivo">Cantidad</label>
              <input type="text" formControlName="cantidad" class="form-control"  placeholder="Cantidad del activo" required>
            </div>
            <div class="modal-footer">
              
              <!-- Aquí hay dos botones debido a que hubieron problemas con el evento que cierra el modal cuando se agrega un activo-->
              <!-- Asi que para solucionar eso, mientras el form sea invalido, se oculta el boton que contiene el evento con el *ngIf-->
              <!-- Para que al darle click, no se cierre el modal que contiene el form y asi se pueda completar los campos que faltan-->
              <!-- Si el form es valido entonces se muestra el botón que contiene el evento para que se cierre el modal una vez se agregue el activo-->
              <button *ngIf="activoForm.valid" onclick="$('.modal').modal('hide')" type="submit" class="btn btn-success mx-auto" data-toggle="modal" data-target="#vacioModal">Añadir</button>              
              <button *ngIf="!activoForm.valid" type="submit" class="btn btn-success mx-auto" data-toggle="modal" data-target="#vacioModal">Añadir</button>              

            </div>
          </form>
          
        </div>
        <!------fin form--->
      </div>
      
    </div>
  </div>

  <!--Aviso de validación cuando hay campos vacíos-->
  <div *ngIf="!activoForm.valid" class="modal fade" id="vacioModal" tabindex="-1" role="dialog" aria-labelledby="vacioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div style="box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vacioModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hay campos sin rellenar.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>
  